Core/MTDataAccess/bin/
Core/MTDataAccess/obj/
DB/bin/
DB/obj/
Web/multitracks.com/multitracks.com/Bin/
packages/
*.vsidx
/.vs/.net/v17/.wsuo
/.vs/multitracks.com-dotNet/config/applicationhost.config
*.v2
/.vs/multitracks.com-dotNet/v17/.suo
*.bin
/.vs/VSWorkspaceState.json
*.sqlite
/api.multitracks.com/bin/Debug/net5.0
/api.multitracks.com/obj
/DB
/api.multitracks.com/Properties/launchSettings.json
/api.multitracks.com/appsettings.Development.json
/api.multitracks.com/appsettings.json
/.vs/.net/v17/.wsuo
